* {
    margin: auto;
}
nav {
    margin: 0px;
    background-color:rgb(67,67,68);
    width: 100%;
    display: flex;
    justify-content:center ;
}
li {
    color: white;
    margin : 10px 13px;
    list-style-type: none;
    align-items: center;
}
img {
    width: 30px;
    height: auto;
}